App\Bundle\AppBundle\Entity\Comment:
    attributes:
        denormalization_context:
            groups: [write]
        normalization_context:
            groups: [read]
        route_prefix: /admin
        validation_groups: [app_rest]
    operations:
        create_comment:
            denormalization_context:
                groups: [write]
            factory:
                method: createByPostId
                arguments: [$postId]
            action: create
            methods: ['POST']
            normalization_context:
                groups: [read]
            path: /posts/{postId}/comments
            validation_groups: [app_rest]
        get_comments:
            grid: app_comment_grid
            action: index
            methods: ['POST', 'GET']
            path: /posts/{postId}/comments
            access_control: is_granted('app_rest_comment_view')
        delete_comment:
            action: delete
            path: /comments/{id}
            access_control: is_granted('app_rest_comment_delete', $object)
        update_comment:
            denormalization_context:
                groups: [write]
            action: update
            normalization_context:
                groups: [read]
            validation_groups: [app_rest]
            access_control: is_granted('app_rest_comment_update', $object)
