App\Enity\Comment:
    attributes:
        denormalization_context:
            groups: [write]
        normalization_context:
            groups: [read]
        route_prefix: /admin
        validation_groups: [simple_rest]
    collectionOperations:
        create_comment:
            denormalization_context:
                groups: [write]
            factory: '@app_factory_comment->create($postId)'
            methods: [POST]
            normalization_context:
                groups: [read]
            path: /posts/{postId}/comments
            validation_groups: [simple_rest]
        get_comments:
            grid: app_comment_grid
            methods: [GET]
            path: /posts/{postId}/comments
    itemOperations:
        delete_comment:
            methods: [GET]
            path: /comments/{id}
        update_comment:
            denormalization_context:
                groups: [write]
            methods: [PUT, POST]
            normalization_context:
                groups: [read]
            validation_groups: [simple_rest]
