App\Bundle\AppBundle\Entity\Comment:
    exclusion_policy: ALL
    xml_root_name: comment
    properties:
        id:
            expose: true
            type: integer
            xml_attribute: true
            groups: [read]
        content:
            expose: true
            type: string
            groups: [read, write]
        publishedAt:
            expose: true
            type: DateTime<'Y-m-d H:i:s'>
            groups: [read, write]
    relations:
        - rel: self
          href:
            route: api_comments_view_comment
            parameters:
                id: expr(object.getId())
          exclusion:
            groups: [read]
