App\Entity\Post:
    attributes:
        denormalization_context:
            groups: [write]
        normalization_context:
            groups: [read]
        route_prefix: /admin
        validation_groups: [app_rest]
    operations:
        post:
            denormalization_context:
                groups: [write]
            action: create
            normalization_context:
                groups: [read]
            validation_groups: [app_rest]
        get:
            grid: app_comment_grid
            action: index
        delete:
            action: delete
        put:
            denormalization_context:
                groups: [write]
            action: update
            normalization_context:
                groups: [read]
            validation_groups: [app_rest]
